/************************************************************/
/**/
/*   PIEZAS */
/**/
/************************************************************/

#divPiecesContainer {
    display: flex;
    height: 40px;
    margin: 0 12px;
    overflow-y: hidden;
    width: 100%;
    @media screen and (min-width: 800px) {
        height: 120px;
        margin: 0 24px;
    }
    div {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        flex: 0 0 16.6666666667%;
        height: 40px;
        width: 16.6666666667%;
        @media screen and (min-width: 800px) {
            flex: 0 0 12.5%;
            height: 120px;
            width: 12.5%;
        }
    }
}

@for $i from 1 through 21 {
    .class_divP#{$i} {
        background-image: url("../assets/mobile/piece#{$i}.png");
        @media screen and (min-width: 800px) {
            background-image: url("../assets/desktop/piece#{$i}.png");
        }
    }
}

.class_divDraggable {
    position: absolute;
    user-select: none;
    touch-action: none;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: aquamarine;
}

.class_divDraggable2 {
    position: absolute;
    user-select: none;
    touch-action: none;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(245, 117, 67);
  }
  
  .class_divDraggable3 {
    position: absolute;
    user-select: none;
    touch-action: none;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(67, 165, 245);
  }