body {
  margin: 0px;
  padding: 0px;
  font-family: 'Hyundai Sans Head';
  font-weight: 300;
  font-size: 16px;
}

#divCronometro {
  background-color: #f7f3f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#divCronometro .divCronometro {
  background: #7da5eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: normal;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 30px;
  position: absolute;
  top: 10px;
  width: 200px;
  z-index: 999;
}

@media screen and (min-width: 800px) {
  #divCronometro .divCronometro {
    background: #012c5f;
    font-size: 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 12px 16px;
    position: relative;
    top: 0;
    width: auto;
  }
}

#divCronometro .divCronometro p {
  color: #fff;
  margin: 0;
}

@media screen and (max-width: 799px) {
  #divCronometro .divCronometro p.desktop {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  #divCronometro .divCronometro p.mobile {
    display: none;
  }
}

#divCronometro .divCronometro #chronotime {
  display: block;
  width: 72px;
  padding-left: 2px;
  color: #fff;
}

@media screen and (min-width: 800px) {
  #divCronometro .divCronometro #chronotime {
    font-weight: 500;
    padding-left: 6px;
    width: 80px;
  }
}

.puzzleContainer {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 800px) {
  .puzzleContainer {
    width: 60vw;
  }
}

.divInstrucciones {
  display: none;
}

@media screen and (min-width: 800px) {
  .divInstrucciones {
    display: block;
  }
}

.divInstrucciones p {
  color: #012c5f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.class_divCarouselContainer {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.class_divCarouselContainer #class_buttonPrev,
.class_divCarouselContainer #class_buttonNext {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
}

.class_divCarouselContainer #class_buttonPrev svg,
.class_divCarouselContainer #class_buttonNext svg {
  width: 12px;
}

.class_divCarouselContainer #class_buttonPrev svg path,
.class_divCarouselContainer #class_buttonNext svg path {
  fill: #012c5f;
}

@media screen and (min-width: 800px) {
  .class_divCarouselContainer #class_buttonPrev,
  .class_divCarouselContainer #class_buttonNext {
    width: 48px;
  }
  .class_divCarouselContainer #class_buttonPrev svg,
  .class_divCarouselContainer #class_buttonNext svg {
    width: 24px;
  }
}

.class_divCarouselContainer #class_buttonPrev,
.class_divCarouselContainer #class_buttonNext {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 800px) {
  .class_divCarouselContainer #class_buttonPrev {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .class_divCarouselContainer #class_buttonNext {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.modal {
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

.modalBox {
  background-color: #fff;
}

.modalBoxHeader, .modalBoxBody {
  padding: 12px 24px;
}

.modalBoxHeader {
  background-color: #012c5f;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 12px;
}

.modalBoxHeader h2 {
  color: #fff;
  margin: 0;
}

.modalBoxHeader .modalClose {
  cursor: pointer;
  display: block;
  width: 24px;
  height: 24px;
}

.modalBoxHeader .modalClose svg path {
  fill: #FFF;
}

.modalBoxBody {
  font-size: 18px;
}
/*# sourceMappingURL=styles.css.map */